<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="http://www.google.com">谷歌</a></h3>搜索引擎</li>
    <li><h3><a href="http://www.baidu.com">百度</a></h3>搜索引擎</li>
</ul>
<%- include footer %>